a {
  margin-left: 20px;
  padding: 10px 12px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
button {
  color: white;
  background-color: #805ad5;
  font-size: 15px;
  border: none;
  font-size: bold;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 3px;
  margin-top: 10px;
}
